<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilih Rasa</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<!-- <body>
    <h1>Pilih Rasa</h1>
    <form action="/select_rasa" method="post">
        <input type="radio" name="rasa" value="pahit"> Pahit<br>
        <input type="radio" name="rasa" value="manis"> Manis<br>
        <input type="radio" name="rasa" value="kecut"> Kecut<br>
        <button type="submit">Submit</button>
    </form>
</body> -->
<body>
    <div class="sec-center">
        <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
        <label class="for-dropdown" for="dropdown">Choose Flavor <i class="fas fa-arrow-down"></i></label>
        <div class="section-dropdown">
            <form action="/select_rasa" method="post">
                <a href="#"><input type="radio" name="rasa" value="pahit"> Bitter</a>
                <a href="#"><input type="radio" name="rasa" value="manis"> Sweet</a>
                <a href="#"><input type="radio" name="rasa" value="kecut"> Sour</a>
                <button class="for-dropdown" type="submit">Next</button>
            </form>
        </div>
    </div>
</body>
</html>
